


/* first break point */

@media screen and (max-width:1124px){
    .landing-page h1{
        top: 80px;
    }
        p{
            font-size: 1.6rem;
        }
    
}






/* second break point */
@media screen and (max-width: 786px) {
    header{
        height: auto;
        
    }
    .navigation-links{
        flex-direction: column;
        background-color: var(--background);
        padding:20px;
        margin-right: 30px;
        
    }
    .navigation-links a{
        color:white;
    }
    .landing-page h1{
        font-size: 2rem;
        top:50%;
        left:30%;
        
    }

    #about-me{
        height: 800px;;
    }

    .section-content{
        flex-direction: column;
        
        
    }


.separation-line{
   width: 100px;
    height: 8px;
    
    }


}

