:root{
    --background: #292929;
    --secondary-background: #9ecbcc;
    --text-color:#FFD700;

}


header{
    width: 100%;
    height: 80px;
    background-color: var(--background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}

p{
    font-size: 2rem;
    display: block;
    font-family: sens-serif;
    
}

a{
    text-decoration: none;
    color:#292929;
    

}

h3 {text-align: center;
   margin-top: 25px;
   font-size: 2rem;
   font-family: sans-serif;


}







.logo{
    background-color: var(--secondary-background);
    
    height: 80px;
    padding-left: 20px;
    padding-right: 20px;
    
    
    

}



.logo a{
    text-decoration: none;
    color: #292929;
    
    
}



.logo p{
    position: relative;
    top:30%;
    
    
   
}

.logo p span{
    
    font-size:1.8rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.navigation-links {
    display: flex;
    justify-content:center;
    gap:20px;
    padding-right:30px;
}

.navigation-links a{
    color:white;
    text-decoration: none;
    font-size:1.5rem;
    font-family: sans-serif;
    position: relative;
   

}

.navigation-links a::after {
    content: ""; 
    position: absolute; 
    top:30px;
    bottom: 0; 
    left: 0; 
    width: 100%; 
    height: 2px; 
    background-color: var(--text-color); 
    transition: width 0.3s ease; 
    opacity: 0; 
    
}

    .navigation-links a:hover::after {
    width: 100%; 
    opacity: 1; 
    
}


/* .landing-page{
    height: 500px;
    width: 100%;
    position: relative;
    background-color: #292929
}

.landing-page img{
    width: 100%;
    height: auto;
    display:block;

}

.landing-page h1 {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: white;
    text-align: center;
} */

.landing-page div{
    background-image: url(/Assets/Images/Background-image.jpg);
    background-color: var(--background); 
    height: 500px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
    

}


.landing-page h1{
color: white;
font-size: 4rem;
 font-family: sans-serif;
 position: absolute;
 top: 50%;
 left: 50%;
 display: inline;
}

.landing-page-title{
    color: var(--text-color);
    font-weight: bold;
}


#about-me {
    margin: 40px;
    width: 100%;
    height: 400px;
    
    
}


.section-content{
display: flex;
justify-content: center;
align-items: center;
box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.section-title{

width: 30%;
height: 100%;
margin: 40px;

}

.section-title h2{
    text-align: center;
    font-size: 3rem;
    font-family: sans-serif;
    
}

@keyframes line{
    0% {opacity: 0;}
    25% {background-color: var(--background); bottom: 0px; top: 100px;}
    50% {background-color: var(--text-color); bottom: 100px; top: 100px;}
    75% {background-color: var(--background); bottom: 0; top: 100px;}
    100% {background-color: var(--text-color); bottom: 0px; top: 0px;}
}


.separation-line{
    height: 100px;
    width: 8px;
    background-color: var(--text-color);
    animation-name: line;
    animation-duration: 4s;
}


.about-me-paragraph{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 60px;
}



#work{
    
    height: 1200px;
    position:relative;
}

.container{
    width: 100%;
    height: 1100px;
    
    position: absolute;
    top: 0;
    right:0;
    left:40px;
    transform: translate(-50% -50%);
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.work-title h2{
    font-size: 3rem;
    font-family: sans-serif;
    Position: absolute;
    top: 45%;
    left:45px;
}



.work-separation-line{
    height: 100px;
    width: 4px;
    background-color: var(--text-color);
    
    position:absolute;
    top: 38%;
    left: 350px;
}

.marketing-agency{
    position: absolute;
    right: 0;
    top: 20px;
}
.marketing-agency img{
    width: 900px;
    height:600px;
    opacity: 0.8;
    border-radius: 2%;


}

.marketing-agency-title{
    background-color: white;
    

    width: 400px;
    height: 80px;
    position: absolute;
    right: 850px;
    top:300px;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}





.red-wall{
position: absolute;
    bottom: 340px;
    right: 0;
}





.red-wall img, .calculator img, .puzzel img, .run-buddy img{
    width: 450px;
    height: 230px;
    
}

.red-wall-title{
    position: absolute;
    bottom: 90px;
    width: 150px;
    height: 40px;
    left:0;
    background-color: white;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);


}

.red-wall-title h3{
    position: absolute;
    bottom: 10px;
    font-size: 1.5rem;
    left: 20px;
}

.calculator {
   position: absolute;
    bottom: 340px;
    right: 470px;

}

.puzzel{
    position: absolute;
    bottom: 100px;
    right:0;
}

.run-buddy{
    position: absolute;
    bottom: 100px;
    right: 470px;
}









